@import "../../css/variables";

.navBar {
  height: 47px;
  background-color: $primaryColor;
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
  z-index: 10000;
}
.toolbar {
  height: 47px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  margin: 0 auto;

  .logo {
    margin-top: 5px;
  }

  a {
    color: #fff;
    padding: 0 10px;
    box-shadow: none;
  }
}