@import "../../css/media";
@import "../../css/variables";

.jumbotron {
  background-color: $primaryColor;
  background-image: url("../../images/batthern.png");
  padding-top: 47px;
  padding-bottom: 47px;
  color: #fff;

  img {
    padding: 0 24px;
    margin-bottom: 0;
  }

  @include media-query-lap {
    .imageContainer {
      width: 600px;
      margin: 0 auto;
    }
  }

  .title {
    font-size: 16vw;
    opacity: 0.9;

    a {
      color: #fff;
      text-decoration: none;
      box-shadow: none;
    }

    @include media-query-lap {
      font-size: 6rem;
    }
  }

  .subtitle {
    margin: 0 16px;
    opacity: 0.8;
  }
}