.connect {
  padding: 0 !important;
  justify-content: center;
  margin-top: 20px;
}

.connectButton {
  margin-right: 8px !important;
  cursor: pointer;
  box-shadow: none;
}

.icon {
  width: 32px;
  height: 32px;
  text-decoration: none;
  box-shadow: none;
  margin-bottom: 0;
  margin-top: 8px;
}