html, body {
    margin: 0;
    height: 100%;
    overflow: auto;
    background-color: #Fff;
    font-family: "Roboto", sans-serif;
}

article {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

article h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 20px;
}


main article .MuiTypography-body1 {
 font-weight: 300;
}