@import "../../css/variables";

.pagination-bar {
  background-color: transparent !important;
  justify-content: space-between !important;
  display: flex;

  a {
    box-shadow: none;
  }

  svg {
    color: $primaryColor
  }

  .toolbar {
    display: flex;
    align-items: center;
  }
}